@model Leave_Management_System.Models.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form method="post">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span><br>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span><br >

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword"></span>
    <br>
    <button type="submit" class="btn btn-primary" >Register</button>
</form>