@model IEnumerable<Leave_Management_System.Models.Class.LeaveAllocation>

@{
    ViewData["Title"] = "ListUserLeaveAllocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row m-t-30">
    <div class="col-md-4">
        <div class="table-data__tool-left">

            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Allocated Leaves</h2>
                    </div>
                </div>
            </div>
        </div><br />
        </hr>
        <!-- DATA TABLE-->

        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>

                        <th>
                           Leave Type
                        </th>
                        <th>
                            Number Of Leaves
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.leaveType.LeaveType)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.NoOfLeave)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE-->
    </div>
</div>
