@model Leave_Management_System.Models.ViewModel.OwnProfile

@{
    ViewData["Title"] = "OwnProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong>Profile</strong> Details
        </div>
        <div class="card-body card-block">
            <form asp-action="OwnProfile" enctype="multipart/form-data">
                <div class="col-sm-10">
                    <!--<i class="fas fa-user-circle fa-9x text-secondary"></i>-->
                    @if (Model.ExistingImage == null)
                    {

                        <img src="~/Alternate_image/index.jpg" style="display: block; margin-left: auto; margin-right: auto; width:200px; height:200px; border-radius:50%; border:2px solid; box-shadow:5px 5px #888888;" asp-append-version="true" /> }
                    else
                    {

                        <img src="~/Uploads/@Model.ExistingImage" style="display: block; margin-left: auto; margin-right: auto; width:200px; height:200px; border-radius:50%; border:3px solid white; box-shadow:5px 5px #888888;" asp-append-version="true" />}

                </div>
                <input type="hidden" asp-for="id" />
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" disabled />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MobileNo" class="control-label"></label>
                    <input asp-for="MobileNo" class="form-control" />
                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MobileNo2" class="control-label"></label>
                    <input asp-for="MobileNo2" class="form-control" />
                    <span asp-validation-for="MobileNo2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MiddleName" class="control-label"></label>
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmployeePicture" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="EmployeePicture" class="custom-file-input" />
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="EmployeePicture" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Addreaddress" class="control-label"></label>
                    <textarea asp-for="Addreaddress" class="form-control"></textarea>
                    <span asp-validation-for="Addreaddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Role" class="control-label"></label>
                    <input asp-for="Role" class="form-control" disabled />
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Department" class="control-label"></label>
                    <input asp-for="Department" class="form-control" disabled />
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
                
                
          
                <div class="card-footer">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
           </form>
        </div>
    </div>
</div>
@section Scripts {
        <script>
            // Add the following code if you want the name of the file appear on select
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });</script>
}
