@model Leave_Management_System.Models.Class.leaveType

@{ ViewData["Title"] = "UpdateLeaveType";
                Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong>Update Leave Type</strong> Form
        </div>
        <div class="card-body card-block">
            <form asp-action="UpdateLeaveType">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="leaveTypeID" />
                <div class="form-group">
                    <label asp-for="LeaveType" class="control-label"></label>
                    <input asp-for="LeaveType" class="form-control" />
                    <span asp-validation-for="LeaveType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="noofday" class="control-label"></label>
                    <input asp-for="noofday" class="form-control" />
                    <span asp-validation-for="noofday" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="allcatoToAll" /> @Html.DisplayNameFor(model => model.allcatoToAll)
                    </label>
                </div>
                @*<div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="itispersonal" /> @Html.DisplayNameFor(model => model.itispersonal)
                    </label>
                </div>*@
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>

            <div>
                <a asp-action="ListLeaveType">Back to list</a>
            </div>
        </div>
    </div>
</div>



