@{ ViewData["Title"] = "Home Page"; }
<!-- Begin Page Content -->
<div class="container-fluid px-lg-4">
    <div class="row">
        <div class="col-md-12 mt-lg-4 mt-4">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h2 class="h3 mb-0 text-black-50 ">
                   Welcome guest To Leave Management System.
                </h2>
            </div>
        </div>




        <!-- column -->
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <!-- title -->
                    <div class=" align-items-center">
                        <div>
                            <!-- Begin Page Content -->
<div class="container-fluid px-lg-4">
    <div class="row">
        <div class="col-md-12 mt-lg-4 mt-4">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h2 class="h3 mb-0 text-black-50 ">
                    Create Leave Request
                </h2>
            </div>
        </div>




        <!-- column -->
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <!-- title -->
                    <div class=" align-items-center">
                        <div>
                            <ul> Project Functionalities</ul>

                            <li>Sign Up.</li>
                            <li>Sign In. (Role Base Authentication.)</li>
                            <li>Role Allocation based User..</li>
                            <li>Create Leave Request (eg. Employee)..</li>
                            <li>Response of Leave Requests. (eg. HOD for employee)..</li>
                            <li>User Can (Edit/Delete) the request before made any Respocse by HOD.</li>
                            <li>Email Notification.</li>
                            



                        </div>
                        
                    </div>
                    <!-- title -->
                </div>
                
            </div>
        </div>
    </div>
</div>
                        </div>

                    </div>
                    <!-- title -->
                </div>

            </div>
        </div>
    </div>
</div>
