@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to guest.</h1>
    <a asp-controller="temp" asp-action="AdminView">HOD</a>
    <a class="nav-link " asp-controller="account" asp-action="register">Register</a>
    <a asp-controller="temp" asp-action="AdminView">Admin</a>
    <a asp-controller="Role" asp-action="ListOfAllUser">List OF All User</a>
    <a asp-controller="temp" asp-action="DeanView">Dean</a>
    <a asp-controller="temp" asp-action="pendingView">pendingView</a>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
