@{ ViewData["Title"] = "Home Page"; }




<!-- Begin Page Content -->
<div class="container-fluid px-lg-4">
    <div class="row">
        <div class="col-md-12 mt-lg-4 mt-4">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h2 class="h3 mb-0 text-black-50 ">
                    Welcome Guest To Leave Management System.
                </h2>
            </div>
        </div>
        <!-- column -->
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <!-- title -->
                    <div class="d-md-flex align-items-center">
                        <ul>
                            <h2>Project Functionalities</h2>
                            <li>Sign Up.</li>
                            <li>Sign In. (Role Base Authentication.)</li>
                            <li>Creation Of New Roles</li>
                            <li>Role Allocation based On User..</li>
                            <li>Create Leave Request (eg. Employee)..</li>
                            <li>Response of Leave Requests. (eg. HOD for employee)..</li>
                            <li>User Can Modify Account Details</li>
                            
                        </ul>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



